.new_background{
  height: 900px;
  color: #ececdd;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    rgba(233, 233, 207, 0.3),
    rgba(12, 12, 12, 0.9)
  ), url("jon-tyson-articles fond_d_ec");
}
.new_filter{

  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5vh;
  border-radius: 10px;
}
.form-inputs{
  margin-left: 30%;
  margin-right: 30%;
}
.titre_form{
  text-align: center;
  font-family: 'Special Elite', cursive;
}
