.new_comment_background{
  height: 60px;
  color: #ececdd;
  background-size: cover;
}
.new_comment_filter{
  border-radius: 6px;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
}
.new_comment{
  text-align: center;
  padding-top: 20px;
}
