<div class="home_container" style="text-align: center;">
  <header class="title">
        <h1 class="title__primary">
            <strong>Worldpulse</strong>
        </h1>
        <hr />
        <h2 class="title__secondary">
            <strong>Soyez curieux et partagez les informations du monde entier</strong>
        </h2>
   <div class="controller" for="direction">
      <%= link_to "Entrez!", posts_path, type: "button"%>
    </div>
  </header>
</div>
  <%= render "shared/footer" %>

      <%# <label class="controller" for="direction">Show/Hide</label>
      <input type="checkbox" id="direction" name="direction" /> %>
